*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'sans-serif';
}

body {
    height: 100vh;
    width: 100vw;
}


.header{
    height: 10%;
    width: 100%;
    border-bottom: 2px solid #1088c0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    background-color: rgb(25, 25, 27);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.name{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}

.name h1{
    font-size: 40px;
    margin-right: 10px;
}

.surname{
    color: #1088c0;
}

.menuBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    margin-right: 10%;
    font-size: 20px;
}

.menuBar a:link {
    text-decoration: none;
}

.menuBar a:visited {
    text-decoration: none;
}

.menuBar a:hover {
    text-decoration: none;
}

.menuBar a:active{
    text-decoration: none;
}

section {
    background-color: rgb(25, 25, 27);
}

.background{
    display: grid;
    height: 90vh;
    width: 100%;
    position: relative; 
    background-color: rgb(25, 25, 27);
}

.background::before{
    background-image: url("images/inicio.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: '';
    position: absolute;
    opacity: 0.05;
    inset: 0;
}


.introduction{
    isolation: isolate;
    align-self: center;
    text-align: center;
}