*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* SCROLL */
/* width */
::-webkit-scrollbar {
    width: 10px;
    max-height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1088c0;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #05608a; 
}

/* DEFAULT */
body {
    height: 100vh;
    width: 100%;
    background-color: rgb(25, 25, 27);;
}

.div-column{
    display: flex;
    flex-direction: column;
}

.div-row{
    display: flex;
    flex-direction: row;
}

/* HEADER */
.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    /* display: flex;
    flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    transition: 0.4s;
    z-index: 990;
}

.header .logo {
    width: 4em;
    border-radius: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #1088c0;
    background-color: rgb(25, 25, 27);
}

.name{
    margin-left: 8rem;
}

.menuBar{
    justify-content: space-around;
    min-width: 50%;
    margin-right: 8rem;
    font-size: 20px;
}

.menuBar a:link, .introduction .icons a:link {
    text-decoration: none;
}

.menuBar a:visited, .introduction .icons a:visited {
    text-decoration: none;
}

.menuBar a:hover, .introduction .icons a:hover {
    text-decoration: none;
}

.menuBar a:active, .introduction .icons a:active {
    text-decoration: none;
}

/* DEFAULT SECTION */
section {
    background-color: rgb(25, 25, 27);
}

/* SECTION START */
.background{
    position: relative;
    width: 100%;
    height: 100%;
}

.background::before{
    background-image: url("images/inicio.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: '';
    position: absolute;
    opacity: 0.1;
    inset: 0;
    display: flex;
    flex-direction: column;
}

.introduction {
    position: relative;
    isolation: isolate;
    top: 35%;
    text-align: center;
}
.introduction p{
    margin-bottom: 1%;
}

.introduction .text {
    font-size: 40px;
}

.introduction .introduction-name {
    font-size: 60px;
    font-weight: 400;
}

.introduction .icons a{
    font-size: 40px;
    margin: 0 2%
}

/* SKILLS */
.skills {
    padding: 2%;
    justify-content: space-between;
    /* background: linear-gradient(133deg, rgba(16,136,192, 0.8) 0%, rgba(5, 78, 112, 0.8) 10%, rgba(25,25,27,1) 20%, rgba(25,25,27,1) 85%, rgba(5, 78, 112, 0.8) 93%, rgba(16,136,192, 0.8) 100%); */
    background: linear-gradient(to bottom right, rgba(16,136,192, 0.8) 0%, rgba(5, 78, 112, 0.8) 10%, rgba(25,25,27,1) 20%, rgba(25,25,27,1) 80%, rgba(5, 78, 112, 0.8) 90%, rgba(16,136,192, 0.8) 100%);
}

.skills h1,h3 {
    margin-bottom: 1%;
}

.skills .hardSkills, .skills .softSkills {
    padding: 0.85% 2.5%;
    width: 50%;
}


.technologies{
    margin-right: 1%;
    justify-content: space-between;
}

.technologies .technology{
    background-color: #414141;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 3%;
    height: 10em;
    width: 13%;
    margin: 2em 0;
    border-bottom: 10px solid #1088c0;
}

.simple-icons--django {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23013711' d='M11.146 0h3.924v18.166c-2.013.382-3.491.535-5.096.535c-4.791 0-7.288-2.166-7.288-6.32c0-4.002 2.65-6.6 6.753-6.6c.637 0 1.121.05 1.707.203zm0 9.143a3.9 3.9 0 0 0-1.325-.204c-1.988 0-3.134 1.223-3.134 3.365c0 2.09 1.096 3.236 3.109 3.236c.433 0 .79-.025 1.35-.102V9.142zM21.314 6.06v9.098c0 3.134-.229 4.638-.917 5.937c-.637 1.249-1.478 2.039-3.211 2.905l-3.644-1.733c1.733-.815 2.574-1.53 3.109-2.625c.561-1.121.739-2.421.739-5.835V6.059zM17.39.021h3.924v4.026H17.39z'/%3E%3C/svg%3E");
}

.technology .logo {
    font-size: 4em;
}

.softSkills h1 {
    margin-bottom: 5%;
}

.rowSoftSkills{
    justify-content: space-around;
    margin-bottom: 5%;
}

.softSkill {
    min-height: 10em;
    width: 40%;
    border: 3px solid #1088c0;
    border-radius: 3%;
    padding: 1%;
}

.softSkill:hover{
    transform: scale(1.05);
    box-shadow: 0 0 28px #1088c0;
}

.tituloSoftSkill{
    text-align: center;
    margin-bottom: 5%;
}
/* 
.textSoftSkill{
    text-align:;
} */

/* PROJECTS */
.projects, .about, .footer{
    padding: 2.2% 4.5%; 
}

.projects h1{
    margin-bottom: 2%;
}

.project{
    width: 100%;
    justify-content: center;
}

.project img{
    width: 800px;
    border: 3px solid #1088c0;
}

.projectInfos{
    margin: 0 2%;
}

.projectInfos h2, .projectInfos .technologies{
    color: #1088c0;
}

.projectInfos h4:not(:last-child){
    margin: 4% 0
}

.projectInfos h2{
    margin-bottom: 4%
}

/* .projects hr{
    border-top: 1px solid #1088c0;
    margin: 3% 0;
} */

.button-project{
    width: 10em;
    cursor: pointer;
}

.button-project:hover{
    font-size: 20px;
}

.icon-play{
    margin-right: 5px;
}

.projectInfos hr{
    border-top: 1px solid #1088c0;
    margin: 0;
    width: 10em;
}

/* ABOUT */
.about{
    background: linear-gradient(to bottom right, rgba(16,136,192, 0.8) 0%, rgba(5, 78, 112, 0.8) 10%, rgba(25,25,27,1) 20%, rgba(25,25,27,1) 80%, rgba(5, 78, 112, 0.8) 90%, rgba(16,136,192, 0.8) 100%);
}

.about h1{
    margin-bottom: 7px;
}

.about h4{
    line-height: 1.6
}

/* FOOTER */
.footer{
    height: 10em;
}

.footer .icon{
    font-size: 50px;
}

.footer a{
    margin: 0 1%;
}

.footer a:link {
    text-decoration: none;
}

.footer a:visited {
    text-decoration: none;
}

.footer a:active {
    text-decoration: none;
}

.contact {
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.div-icons{
    width: 30%;
}

.curriculo{
    background-color: #1088c0;
    border-radius: 30px;
    padding: 1%;
    font-size: 20px;
}

.curriculo:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* MOBILE AND TABLETS */
@media screen and (max-width: 800px) {
    /* HEADER */
    .header{
        position: absolute;
    }

    .name{
        margin-left: 2rem;
    }

    .menuBar {
        display: none;
    }

    /* START */
    .introduction p{
        margin-bottom: 10%;
    }

    .introduction .text{
        font-size: 25px;
    }

    .introduction .introduction-name{
        font-size: 40px;
    }

    /* SKILLS */
    .skills{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: unset;
    }

    .skills h1,h3 {
        margin-bottom: 5%;
    }

    .skills .hardSkills, .skills .softSkills {
        padding: 0.85% 2.5%;
        width: 100%;
    }

    .simple-icons--django {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23013711' d='M11.146 0h3.924v18.166c-2.013.382-3.491.535-5.096.535c-4.791 0-7.288-2.166-7.288-6.32c0-4.002 2.65-6.6 6.753-6.6c.637 0 1.121.05 1.707.203zm0 9.143a3.9 3.9 0 0 0-1.325-.204c-1.988 0-3.134 1.223-3.134 3.365c0 2.09 1.096 3.236 3.109 3.236c.433 0 .79-.025 1.35-.102V9.142zM21.314 6.06v9.098c0 3.134-.229 4.638-.917 5.937c-.637 1.249-1.478 2.039-3.211 2.905l-3.644-1.733c1.733-.815 2.574-1.53 3.109-2.625c.561-1.121.739-2.421.739-5.835V6.059zM17.39.021h3.924v4.026H17.39z'/%3E%3C/svg%3E");
    }
    
    .technology .logo {
        font-size: 40px;
    }

    .technology p{
        font-size: 8px;
    }

    .rowSoftSkills{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rowSoftSkills:not(:last-child), .softSkill:not(:last-child){
        margin-bottom: 1em;
    }

    .softSkill{
        width: 80%;
    }

    .softSkill:hover{
        transform: none;
        box-shadow: none;
    }

    /* PROJECTS */
    .project{
        display: flex;
        flex-direction: column;
        padding: 2em 0;
    }

    .project img{
        margin-bottom: 1em;
        width: 340px;
        border: 2px solid #1088c0;
        align-self: center;
    }

    .button-project:hover{
        font-size: 16px;
    }

    .div-icons .icon{
        font-size: 40px;
    }
}

/*  NOTEBOOKS 1000PX */
@media screen and (min-width: 801px) and (max-width: 1000px){
    .skills{
        padding: 2em 0;
    }
    .projects, .about, .footer{
        padding: 2em 2em ; 
    }

    .name{
        margin-left: 2rem;
    }
    .menuBar{
        margin-right: 2rem;
        width: 60%;
    }

    .technologies .technology{
        width: 3.8em;
    }

    .technology .logo{
        font-size: 3em;
    }

    .technology p{
        font-size: 12px;
    }

    .softSkill{
        width: 12em;
    }

    .project img{
        margin-bottom: 1em;
        width: 500px;
        border: 3px solid #1088c0;
        align-self: center;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1180px){
    .project img{
        margin-bottom: 1em;
        width: 600px;
        border: 3px solid #1088c0;
        align-self: center;
    }
}